<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | HMT Technologies </title>
    <link rel="icon" type="image/png" href="~/img/Logo-Stage.png">
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/js/tailwind.config.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css//fontawesome-pro-6.1.0-web/css/all.min.css">
    <script src="~/css/fontawesome-pro-6.1.0-web/js/all.min.js"></script>
    <!-- Chart Js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Css -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="font-primary">
    @RenderBody()
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@await Component.InvokeAsync("Notyf")
@await RenderSectionAsync("Scripts", required: false)

<!-- Chart -->
<script src="~/js/chartRen.js"></script>
<!-- JS -->
<script src="~/js/app.js"></script>

</html>