@model HMT.Models.HMTModel.ChangePassword
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="w-full h-[75vh] flex items-center justify-center">
    <div class="w-1/2 rounded-md bg-white shadow p-5 dark:bg-dark">
        <h3 class="font-medium text-lg pb-5 dark:text-white">Change Password</h3>
        <form action="ChangePassword" method="post" class="mt-2" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-6">
                <label asp-for="OldPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Current password
                </label>
                <div class="relative h-fit">
                    <input type="password" id="currentPass" asp-for="OldPassword"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg outline-none focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="Enter current password" required>
                    <span class="hiddenPass viewPass absolute top-1/2 right-4 -translate-y-1/2 p-2 dark:text-white">
                        <i class="fa-solid fa-eye"></i>
                    </span>
                    <span asp-validation-for="OldPassword" class="text-red-700 text-sm"></span>
                </div>
            </div>
            <div class="mb-6">
                <label asp-for="NewPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    New password
                </label>
                <div class="relative h-fit">
                    <input type="password" id="newPass" asp-for="NewPassword"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg outline-none focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="Enter new password" required>
                    <span class="hiddenPass viewPass absolute top-1/2 right-4 -translate-y-1/2 p-2 dark:text-white">
                        <i class="fa-solid fa-eye"></i>
                    </span>
                    <span asp-validation-for="NewPassword" class="text-red-700 text-sm"></span>
                </div>
            </div>
            <div class="mb-6">
                <label asp-for="ConfirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Enter the password
                </label>
                <div class="relative h-fit">
                    <input type="password" id="newPass" asp-for="ConfirmPassword"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg outline-none focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="Enter the password" required>
                    <span class="hiddenPass viewPass absolute top-1/2 right-4 -translate-y-1/2 p-2 dark:text-white">
                        <i class="fa-solid fa-eye"></i>
                    </span>
                    <span asp-validation-for="ConfirmPassword" class="text-red-700 text-sm"></span>
                </div>
            </div>
            <div>
                <a asp-action="Profile" class="text-white py-2 px-6 rounded-md bg-primary bg-red-500 text-sm hover:bg-red-600">Cancel</a>
                <button type="submit"
                        class="text-white py-2 px-8 rounded-md bg-primary text-sm hover:bg-sky-600">
                    Save
                </button>
            </div>
        </form>
    </div>
</section>
